
.form-container{
    width: 300px;
    height: 460px;
    position: absolute;
    top: 230px;
    left: 1100px;
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid #c2bebe;
    border-radius: 10px;
  }

.form-group {
    margin-bottom: 10px;
}

.tittle{
    font-family: sans-serif;
    text-align: center;
  }

  div{
    padding: 10px;
  }

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="documento"],
input[type="correo"] {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 350px;
    left: 140px;
}

button:hover {
    background-color: #45a049;
    position: absolute;
}

.logo img {
    width: 150px;
    height: auto;
}

.Imgregistro {
    width: 600px;
    position: absolute;
    top: 60px;
    left: 100px;
}