---
---

<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Libro De Operaciones Diarias</title>
  <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet">
</head>
<body class="bg-white">
  <div class="flex flex-col items-center">
    <!-- Header -->
    <div class="w-full bg-green-300 p-4 flex justify-between items-center">
      <img src="../img/logo.png" class="w-20 ">
      
    </div>


    <div class="relative w-full ">
      <img src="/img/home.jpg" class="w-full h-56 object-cover ">
      <div class="absolute bottom-0 left-0 w-full p-4">
              <h1 class="text-8xl font-bold text-white">BIENVENIDOS</h1>
              <p class="text-4xl text-white">Libro De Operaciones Diarias</p>
              <button class="bg-green-300 text-white font-bold py-2 px-4 rounded-lg">Ingresar</button>
      </div>
    </div>
  
      <div class="bg-green-300 p-6 rounded-lg shadow-lg max-w-sm">
          <div class="flex items-center justify-center mb-4">
              <img src="../img/home_2.png"  class="rounded-lg shadow-lg">
          </div>
          <div>
          <p class=" mt-4 text-center text-lg text-black-700">
              ¿Alguna vez te has preguntado cómo las empresas mantienen un registro detallado de todas sus transacciones financieras?
          </p>
        </div>



      
    <div class="bg-green-300 p-6 rounded-lg shadow-lg max-w-sm">
      <div class="flex items-center justify-center mb-4">
          <img src="../img/home_3.png"  class="rounded-lg shadow-lg">
      </div>
      <div>
        <p class="text-center text-lg">¡No importa si eres un emprendedor que recién comienza o un profesional experimentado en contabilidad, 
          está diseñada para ser una guía útil y accesible en el mundo del libro de operaciones diarias!</p>
      
    </div>
  </div>




</body>
</html>
