---
import Input from "../components/input.astro";
import Botones from "../components/botones.astro";
---


<!doctype html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Inscribirte</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  

  <body class="flex flex-col items-center justify-center min-h-screen bg-white-100">
  

  
    <div
      class="flex flex-col justify-center items center w-screen ">
      <div class="grid grid-cols-2 gap-3 px-96">
        <div>
          <img class="w-full h-auto object-cover" src="../img/img_registro.png"/>
        </div>
        <form class=" form flex flex-col justify-center gap-10">
          <div class="form-container bg-white p-10 rounded-lg shadow-lg" class="w-96"> 
       </form>
         
         <div class="justify-center item-center"><h2 class="mb-4 text-2xl font-bold text-center">Inscribirte</h2></div> 

 <form id="formu" class="space-y-4">
    <div>
      <label for="registroNombre" class="block text-sm font-medium text-black-700"></label>
      <input type="text" name="nombre" id="registroNombre" placeholder="Nombres:" class="mt-1 block w-full px-4 py-2 border border-gray-300 bg-gray-200  rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm">
      <p id="nombreError" class="error-message"></p>
      
    </div>

    <div>
      <label for="CorreoRegistro" class="block text-sm font-medium text-black-700"></label>
      <input type="email" name="correo" id="CorreoRegistro" placeholder="Correo Electronico:" class="mt-1 block w-full px-4 py-2 border border-gray-300 bg-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm">
      <p id="correoError" class="error-message"></p>
    </div>

    <div>
      <label for="contrasenaRegistro" class="block text-sm font-medium text-black-700"></label>
      <input type="password" name="contrasena" id="contrasenaRegistro" placeholder="Contraseña:" class="mt-1 block w-full px-4 py-2 border border-gray-300  bg-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm">
      <span id="togglePasswordRegistro" class="bx bx-show cursor-pointer"></span>
      <p id="contrasenaError" class="error-message"></p>
    </div>

    <div>
      <label for="confirmarContrasena" class="block text-sm font-medium text-black-700"></label>
      <input type="password" name="confirmarContrasena" id="confirmarContrasena"placeholder="Confirmar Contraseña:" class="mt-1 block w-full px-4 py-2 border border-gray-300 bg-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm">
      <span id="togglePasswordConfirmacion" class="bx bx-show cursor-pointer"></span>
      <p id="confirmarContrasenaError" class="error-message"></p>
    </div>

    <div>
      <label for="numeroDc" class="block text-sm font-medium text-black-700"></label>
      <input type="text" name="numeroDc" id="numeroDc" placeholder="Numero de Documento" class="mt-1 block w-full px-4 py-2 border border-gray-300 bg-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm">
      <p id="numeroDcError" class="error-message"></p>
    </div>
    <div class="flex flex-box w-full gap-4  ">
      <input id="recordar" class="flex items-start" type="checkbox" />
      <label for="recordar" class="text-sm font-medium">
        Terminos y Condiciones 
      </label>
      
    </div>
    <div class="flex flex-col items-center justify-center">
      <button 
      type="submit"
      class="px-4 py-2 text-white bg-green-500 rounded-md hover:bg-green-600 focus:outline-none focus:ring-green-500 focus:ring-1 w-44 items-center"
    >
      Registrarse
    </button>
   
   <u> <a href="inicio" class="text-sm text-black-600 hover:text-black-700">
      Iniciar Sesión
    </a></u>
     </div>
  </form>


  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const formu = document.getElementById('formu') as HTMLFormElement;
        const nombre = document.getElementById('registroNombre') as HTMLInputElement;
        const correoRegistro = document.getElementById('CorreoRegistro') as HTMLInputElement;
        const contrasenaRegistro = document.getElementById('contrasenaRegistro') as HTMLInputElement;
        const confirmarContrasena = document.getElementById('confirmarContrasena') as HTMLInputElement;
        const numeroDc = document.getElementById('numeroDc') as HTMLInputElement;
        const nombreError = document.getElementById('nombreError');
        const correoError = document.getElementById('correoError');
        const contrasenaError = document.getElementById('contrasenaError');
        const confirmarContrasenaError = document.getElementById('confirmarContrasenaError');
        const numeroDcError = document.getElementById('numeroDcError');
        const togglePasswordRegistro = document.getElementById('togglePasswordRegistro');
        const togglePasswordConfirmacion = document.getElementById('togglePasswordConfirmacion');


        if (formu) {
    // Resetear el formulario
    formu.reset();
}

if (togglePasswordRegistro) {
    // Toggle password visibility
    togglePasswordRegistro.addEventListener('click', function() {
        if (contrasenaRegistro) {
            const type = contrasenaRegistro.getAttribute('type') === 'password' ? 'text' : 'password';
            contrasenaRegistro.setAttribute('type', type);
        }
        this.classList.toggle('bx-show');
        this.classList.toggle('bx-hide');
    });
}

        if (formu) {
            formu.addEventListener('submit', function(event) {
                let valid = true;
                if (nombreError) nombreError.textContent = '';
                if (correoError) correoError.textContent = '';
                if (contrasenaError) contrasenaError.textContent = '';
                if (confirmarContrasenaError) confirmarContrasenaError.textContent = '';
                if (numeroDcError) numeroDcError.textContent = '';
              

                // Validación del nombre
                const nombreValue = nombre ? nombre.value.trim() : '';
                if (!nombreValue || !/^[A-Za-z\s]+$/.test(nombreValue)) {
                    valid = false;
                    if (nombreError) nombreError.textContent = 'Ingrese un nombre válido.';
                }

                // Validación del correo electrónico
                const correoValue = correoRegistro ? correoRegistro.value.trim() : '';
                if (!correoValue) {
                    valid = false;
                    if (correoError) correoError.textContent = 'El correo electrónico es requerido.';
                } else if (!/\S+@\S+\.\S+/.test(correoValue)) {
                    valid = false;
                    if (correoError) correoError.textContent = 'El correo electrónico debe tener formato válido.';
                }

                // Validación de la contraseña
                const contrasenaValue = contrasenaRegistro ? contrasenaRegistro.value : '';
                if (!contrasenaValue || contrasenaValue.length < 8) {
                    valid = false;
                    if (contrasenaError) contrasenaError.textContent = 'La contraseña debe tener al menos 8 caracteres.';
                } else if (!/[A-Z]/.test(contrasenaValue)) {
                    valid = false;
                    if (contrasenaError) contrasenaError.textContent = 'El correo electrónico debe contener al menos una letra mayúscula.';
                }

                // Validación de la confirmación de contraseña
                const confirmarContrasenaValue = confirmarContrasena ? confirmarContrasena.value : '';
                if (contrasenaValue !== confirmarContrasenaValue) {
                    valid = false;
                    if (confirmarContrasenaError) confirmarContrasenaError.textContent = 'Las contraseñas no coinciden.';
                }

                // Validación del número de documento
                const numeroDcValue = numeroDc ? numeroDc.value.trim() : '';
                if (!numeroDcValue || isNaN(parseInt(numeroDcValue)) || numeroDcValue.length !== 10) {
                    valid = false;
                    if (numeroDcError) numeroDcError.textContent = 'Ingrese un número de documento válido de 10 dígitos.';
                }


                if (!valid) {
                    event.preventDefault();
                } else {
                    // Aquí puedes redirigir al usuario a la página de destino después de enviar el formulario
                    window.location.href = '/inicio';
                }
            });
        }

        window.addEventListener('pageshow', function(event) {
            if (event.persisted && formu) {
                formu.reset();
            }
        });
    });

</script>


  </html>
  