---
import Input from "../components/input.astro"
import Botones from "../components/botones.astro"
---

<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>wed</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <style>

    .cubo{
      display: flex;
align-items: center;
flex-direction: column}

    .cubo1{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
height: 1055px;
width: 1800px;}

.arriba{
height: 150px;
width: 1800px;
display: flex;
align-items: center;}

.logo{
width: 300px;
height: 100%;
display: flex;
justify-content: center;}

.logui{height: 150px;}

.persona{
width: 1450px;
height: 100%;
display: flex;
justify-content: center;
}

.per{margin-left: 1200px;
height: 150px;}

.acceder{border: 1px solid green;
    background-color: green;
    color: #ffffff;
    font-size: 20px;
height: 50px;
width: 200px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;}

.medio{
height: 500px;
width: 1800px;
display: flex;
align-items: center;
justify-content: space-evenly;}

.texto{
  font-size: 29px;
width: 600px;
height: 500px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;}

.imagen{
width: 600px;
height: 500px;
display: flex;
align-items: center;
justify-content: center;}

.espacio{
width: 1000px;
height: 2000px;}

.espacio1{
width: 1000px;
height: 500px;}

.abajo{
  font-size: 24px;
height: 120px;
width: 900px;
display: flex;
align-items: center;
justify-content: center;}

    .cubo2{
      height: 500px;
width: 1800px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;}

.img2{
height: 80%;
display: flex;
align-items: center;
justify-content: center;}

.table{height: 400px;}

.lectura{
  font-size: 25px;
height: 20%;
width: 1000px;
display: flex;
align-items: center;
justify-content: center;}


    .cubo3{
      height: 700px;
width: 1800px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}

.imgtex{
    display: flex;
    height: 500px;
    width: 1800px;
    justify-content: space-evenly;
}

.img{
width: 400px;
display: flex;
align-items: center;
justify-content: center;
}

.cd{border: 7px solid green;
border-radius: 7px;
}

.text{
font-size: 42px;
width: 1200px;
display: flex;
align-items: center;
justify-content: center;}

.coso{
height: 50px;
width: 1800px;
display: flex;
flex-direction: column;
align-items: center;
}

.coso1{
background-color: rgb(179, 179, 179);
height: 50px;
width: 1000px;}



    .linea{border: 1px solid green;
    height: 20px;
    width: 1700px;
    background-color: green;
border-radius: 10px;}

p{
font-family: monospace;
text-align: center;
font-weight: bolder;
}

h2{font-family: monospace;
    font-size: 70px;
    font-weight: bolder;
}

h1{font-family: monospace;
    font-size: 95px;
color: #20d607;
font-weight: bolder;}

h3{font-family: monospace;
    font-size: 70px;
    font-weight: bolder;}
    
  </style>

<body>

<div class:list={['cubo']}>

<div class:list={['cubo1']}>
  <div class:list={['arriba']}>
    <div class:list={['logo']}><img src='../img/logo2.png' class:list={['logui']}></img></div>
    <div class:list={['persona']}><img src='../img/persona2.png' class:list={['per']}></img></div>
    <div class:list={['acceder']}><p>Acceder</p></div>
    </div>
    <div class:list={['medio']}>
    <div class:list={['texto']}>
        <h2>Bienvenidos</h2>
        <h3>a</h3>
        <h1>LROD!</h1>
        <p>Libro de Registro Operaciones Diarias</p>
    </div>
    <div class:list={['imagen']}>
        <img class:list={['manos']} src='../img/manos.png'></img>
    </div>
    </div>
    <div class:list={['espacio1']}></div>
    <div class:list={['abajo']}>
    <p>¿Alguna vez te has preguntado cómo las empresas mantienen un registro detallado de todas sus transacciones financieras?</p>
    </div>
    <div class:list={['espacio']}></div>
</div>

<div class:list={['linea']}></div>

<div class:list={['cubo2']}>
  <div class:list={['img2']}><img src='../img/1.png' class:list={['table']}></img></div>
  <div class:list={['lectura']}><p>Únete a nosotros mientras te embarcas en un viaje hacia una gestión financiera más eficaz y un crecimiento empresarial sostenible.</p></div>
</div>

<div class:list={['linea']}></div>

<div class:list={['cubo3']}>
  <div class:list={['imgtex']}>
    <div class:list={['img']}><img src='../img/2.png' class:list={['cd']}></img></div>
    <div class:list={['text']}><p>¡No importa si eres un emprendedor que recién comienza o un profesional experimentado en contabilidad, está diseñada para ser una guía útil y accesible en el mundo del libro de operaciones diarias!</p></div>
    </div>
    </div>
    <div class:list={['coso']}>
      <div class:list={['coso1']}></div>
    </div>
    
</div>


</div>

</body>
</html>