---
import Input from "../components/input.astro"
import Botones from "../components/botones.astro"
---
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>portada</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet">
</head>
<div>
  <button 
    type="submit"
    class="px-4 py-3 text-white bg-green-500 rounded-md hover:bg-green-600 focus:outline-none focus:ring-green-500 focus:ring-1">
    Acceder
  </button>
</div>
<body class="flex flex-col items-center">
    <div class="flex flex-col items-center h-[1055px] w-[1800px]">
        <div class="flex items-center h-[150px] w-[1800px]">
            <div class="flex justify-center w-[300px] h-full">
                <img src="../img/logo2.png" alt="Logo" class="h-[150px]" />
            </div>
            <div class="flex justify-center w-[1450px] h-full">
        
            </div>
            
        </div>
        <div class="flex items-center justify-evenly h-[500px] w-[1800px]">
            <div class="flex flex-col items-center justify-center h-[500px] w-[600px] text-center">
                <h2 class="font-mono text-7xl font-bold">Bienvenidos</h2>
                <h3 class="font-mono text-7xl font-bold">a</h3>
                <h1 class="font-mono text-9xl text-green-500 font-bold">LROD!</h1>
                <p class="font-mono font-bold">Libro de Registro Operaciones Diarias</p>
            </div>
            <div class="flex items-center justify-center h-[500px] w-[600px]">
                <img src="../img/manos.png" alt="Manos" />
            </div>
        </div>
        <div class="w-[1000px] h-[500px]"></div>
        <div class="flex items-center justify-center h-[120px] w-[900px] text-center text-2xl">
            <p>¿Alguna vez te has preguntado cómo las empresas mantienen un registro detallado de todas sus transacciones financieras?</p>
        </div>
        <div class="w-[1000px] h-[2000px]"></div>
    </div>

    <div class="border border-green-500 bg-green-500 h-[20px] w-[1700px] rounded-md my-5"></div>

    <div class="flex flex-col items-center h-[500px] w-[1800px]">
        <div class="flex items-center justify-center h-4/5">
            <img src="../img/1.png" alt="Tabla" class="h-[400px]" />
        </div>
        <div class="flex items-center justify-center h-1/5 w-[1000px] text-center text-xl">
            <p>Únete a nosotros mientras te embarcas en un viaje hacia una gestión financiera más eficaz y un crecimiento empresarial sostenible.</p>
        </div>
    </div>

    <div class="border border-green-500 bg-green-500 h-[20px] w-[1700px] rounded-md my-5"></div>

    <div class="flex flex-col items-center h-[500px] w-[1800px]">
        <div class="flex items-center justify-center h-4/5">
            <img src="../img/2.png" alt="Tabla" class="h-[400px]" />
        </div>
            <div class="flex items-center justify-center w-[1200px] text-center text-3xl">
                <p>¡No importa si eres un emprendedor que recién comienza o un profesional experimentado en contabilidad, está diseñada para ser una guía útil y accesible en el mundo del libro de operaciones diarias!</p>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center h-[50px] w-[1800px]">
        <div class="bg-gray-500 h-[50px] w-[1000px]"></div>
    </div>
</body>

</html>
