body {
  background-color: #ffffff;
}

.cubo {
  height: 1690px;
}

.cubo1 {
  border: 1px solid #50b165;
  height: 70px;
  width: 1855px;
  background-color: #50b165;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.boton {
  background-color: #50b165;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butun {
  height: 50px;
}

.persona {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registro-restauro {
  margin-top: 30px;
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.registracion,
.restauracion {
  background-color: #29793a;
}

.cubo2 {
  display: flex;
  height: 880px;
  justify-content: space-between;
}

.d1 {
  display: none;
  flex-direction: column;
  align-items: center;
  border: 1px solid #50b165;
  height: 894px;
  width: 290px;
  background-color: #50b165;
}

.libros {
  border: 1px solid white;
  background-color: white;
  height: 200px;
  width: 250px;
  margin: 10px;
}

.mostrarSide {
  display: block;
}

.per {
  width: 60px;
  height: 60px;
}

.d3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 920px;
  height: 1200px;
  margin-left: 440px;
}

.mes {
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #50b165;
  background-color: #50b165;
  color: white;
  width: 803px;
  height: 30px;
  font-size: 20px;
}

.libro {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #50b165;
  background-color: #50b165;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 803px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 3px;
}

.total {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 802px;
  font-size: 31px;
}

.uno,
.dos,
.tres {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
  background-color: #50b165;
  color: white;
  font-size: 15px;
  height: 40px;
}

.uno {
  width: 220px;
}

.dos {
  width: 53px;
}

.tres {
  width: 220px;
}

.S {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #50b165;
  width: 803px;
  height: 30px;
  background-color: #50b165;
  color: white;
  font-size: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 3px;
}

.foto {
  height: 100px;
}

.uty {
  height: 40px;
}

.d {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.int {
  height: 30px;
  width: 133px;
  background-color: #50b165;
}

input::placeholder {
  color: #ffffff;
}

option {
  color: #ffffff;
}

input {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

#miTabla {
  width: 807px;
  color: #000;
}

#miTabla th,
#miTabla td {
  border: 4px solid #50b165;
  height: 30px;
  width: 30px;
  text-align: center;
}

#miTabla th {
  background-color: #ffffff;
  font-weight: bold;
  border: 4px solid #29793a;
}

#miTabla td input {
  width: 150px;
  text-align: right;
  color: #000;
}

#miTabla tr:nth-child(even) {
  background-color: #f9f9f9;
}

#miTabla tr:hover {
  background-color: #b5e2bf;
}

.celda-cero {
  background-color: red;
}

.cubo4 {
  display: none;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 400px;
}

.persona1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #50B165;
  background-color: #50B165;
  height: 100px;
  width: 200px;
}

.cubo5 {
  border-left: 2px solid rgb(163, 163, 163);
  border-bottom: 2px solid rgb(163, 163, 163);
  border-right: 2px solid rgb(163, 163, 163);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
  width: 200px;
}

.d {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 196px;
}

.foto {
  height: 50px;
}

.uty {
  height: 30px;
}

p {
  color: #000;
  font-size: 15px;
  font-weight: 490;
}
