---
const months = [
  "ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO",
  "JULIO", "AGOSTO", "SEPTIEMBRE", "OCTUBRE", "NOVIEMBRE", "DICIEMBRE"
  ];

const handleInputChange = (event, monthIndex, type) => {
  const value = parseFloat(event.target.value) || 0;
  const updatedData = { ...data[monthIndex], [type]: value };
  data[monthIndex] = updatedData;
  calculateTotals();
};

const calculateTotals = () => {
  let totalIngresos = 0;
  let totalCompras = 0;
  let totalGastos = 0;
  let totalUtilidad = 0;

  data.forEach(monthData => {
    totalIngresos += monthData.ingresos;
    totalCompras += monthData.compras;
    totalGastos += monthData.gastos;
    totalUtilidad += monthData.ingresos - (monthData.compras + monthData.gastos);
  });

  totals.ingresos = totalIngresos;
  totals.compras = totalCompras;
  totals.gastos = totalGastos;
  totals.utilidad = totalUtilidad;
};

const data = months.map(() => ({
  ingresos: 0,
  compras: 0,
  gastos: 0,
  utilidad: 0,
}));

const totals = {
  ingresos: 0,
  compras: 0,
  gastos: 0,
  utilidad: 0,
};

---
<body>
  <div class="w-full bg-green-500 p-4 flex justify-between items-center">
    <img src="../img/logo.png" class="w-10 ">
    <button><img src="../img/perfil.png" class="w-20 ">Alexander</button>
    <body/>
    
<div class="p-4">
  <div class="w-full max-w-2xl mx-auto bg-green-50 rounded-md overflow-hidden">
    <div class="bg-green-500 text-white text-center py-2">
      <h1 class="text-xl font-bold">Año</h1>
      <h2 class="text-lg">¿Como va mi negocio?</h2>
    </div>
    <table class="w-full table-auto">
      <thead class="bg-green-400 text-white">
        <tr>
          <th class="px-4 py-2">MES</th>
          <th class="px-4 py-2">INGRESOS</th>
          <th class="px-4 py-2">COMPRAS</th>
          <th class="px-4 py-2">GASTOS</th>
          <th class="px-4 py-2">UTILIDAD</th>
        </tr>
      </thead>
      <tbody>
        {months.map((month) => (
          <tr class="even:bg-green-100">
            <td class="border px-4 py-2" >{month}</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
          </tr>
        ))}
      </tbody>
      <tfoot class="bg-green-400 text-white">
        <tr>
          <td class="px-4 py-2">TOTAL</td>
          <td class="px-4 py-2"></td>
          <td class="px-4 py-2"></td>
          <td class="px-4 py-2"></td>
          <td class="px-4 py-2"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
