---
import React from 'react';
import como from '../css/dias.css';
import  MiComponente from '../components/react/dias';
---

<!doctype html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>como</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
</head>
  <body>
    <MiComponente client:load />
  </body>
</html>