---
import App from '../components/react/como';
import Perfil from '../components/perfil.astro';
// Aquí puedes añadir lógica para determinar si se debe mostrar el perfil
const mostrarPerfil = false; // Cambia esto a true cuando quieras mostrar el perfil
---

<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Aplicación</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
  {mostrarPerfil ? <Perfil /> : <App client:load />}
</body>
</html>