---
import LibroForm from '../components/react/libro';
import Menu from '../components/menu.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libro de Operaciones</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  </head>
  <body>
    <div class="w-full bg-green-500 p-4 flex justify-between items-center">
        <script src="../js/fecha.js"></script>
        <div class="text-white text-left"> 
          Fecha: <span id="fecha-actual"></span>
        </div>
        
      <button><img src="../img/perfil.png" class="w-20">Alexander</button>
    </div>
    <Menu/>
    </body>


  <body class="bg-gray-100">
    <main class="py-10">
      <LibroForm />
    </main>
  </body>
  
  
</html>
