---
import Input from "../components/input.astro"
import Botones from "../components/botones.astro"
---

<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>perfil</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>

<style>

    .cubo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        height: 966px;
         }

    .cubo1{
           height: 500px;
           width: 400px;}

    .persona{display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #50B165;
        background-color: #50B165;
    height: 140px;}

    .cubo2{display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;}

    .d{display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        width: 400px;}






    .foto{height: 100px;}

    .uty{height:50px;}

    p{font-size: 25px;
    font-weight: 490;}



</style>

<body>

<div class:list={['cubo']}>
<div class:list={['cubo1']}>
<div class:list={['persona']}><img class:list={['foto']} src="../img/persona.png"><p>Alexander_</p></div>
<div class:list={['cubo2']}>
<button class:list={['d']}><img class:list={['uty']} src="../img/lapiz.png"><p>Editar perfil</p></button>
<button class:list={['d']}><img class:list={['uty']} src=../img/tuerca.png><p>Ajustes</p></button>
<button class:list={['d']}><img class:list={['uty']} src="../img/puerta.png"><p>Cerrar Sesion</p></button>
</div>
</div>
</div>

</body>
</html>