---
interface Props {
    Text: string;
}

const { Text } = Astro.props;
---

<button type="submit" class="w-full inline-flex items-center justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-base font-medium
 text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2
  focus:ring-green-500">{Text}</button>
