---
---

<div class="w-96 h-72 bg-green-500 rounded-lg shadow-lg flex flex-col items-start m-14">
    <div class="flex items-center justify-center mb-4">
        <img src="../img/home_3.png"  class="rounded-lg shadow-lg">
    </div>
</div>
