<!doctype html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Inscribirte</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
</head>

<body class="flex flex-col items-center justify-center min-h-screen bg-white-100">
<div class="flex flex-col justify-center items-center w-screen p-6 md:p-12">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-5xl w-full">
      <div>
        <img class="w-full h-auto object-cover" src="../img/img_registro.png"/>
      </div>
        <div class="bg-white p-6 md:p-10 rounded-lg shadow-lg">
            <h2 class="mb-6 text-2xl font-bold text-center">Inscribirte</h2>
            <form id="formu" class="space-y-4">
                <div>
                    <label for="registroNombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input
                            type="text"
                            name="nombre"
                            id="registroNombre"
                            placeholder="Nombres:"
                            class="mt-1 block w-full px-4 py-2 border border-gray-300 bg-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
                    />
                    <p id="nombreError" class="text-red-500 text-xs mt-1"></p>
                </div>
                <div>
                    <label for="CorreoRegistro" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
                    <input
                            type="email"
                            name="correo"
                            id="CorreoRegistro"
                            placeholder="Correo Electrónico:"
                            class="mt-1 block w-full px-4 py-2 border border-gray-300 bg-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
                    />
                    <p id="correoError" class="text-red-500 text-xs mt-1"></p>
                </div>
                <div>
                    <label for="contrasenaRegistro" class="block text-sm font-medium text-gray-700">Contraseña</label>
                    <div class="relative">
                        <input
                                type="password"
                                name="contrasena"
                                id="contrasenaRegistro"
                                placeholder="Contraseña:"
                                class="mt-1 block w-full px-4 py-2 border border-gray-300 bg-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
                        />
                        <span id="togglePasswordRegistro" class="absolute inset-y-0 right-3 flex items-center cursor-pointer bx bx-show"></span>
                    </div>
                    <p id="contrasenaError" class="text-red-500 text-xs mt-1"></p>
                </div>
                <div>
                    <label for="confirmarContrasena" class="block text-sm font-medium text-gray-700">Confirmar Contraseña</label>
                    <div class="relative">
                        <input
                                type="password"
                                name="confirmarContrasena"
                                id="confirmarContrasena"
                                placeholder="Confirmar Contraseña:"
                                class="mt-1 block w-full px-4 py-2 border border-gray-300 bg-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
                        />
                        <span id="togglePasswordConfirmacion" class="absolute inset-y-0 right-3 flex items-center cursor-pointer bx bx-show"></span>
                    </div>
                    <p id="confirmarContrasenaError" class="text-red-500 text-xs mt-1"></p>
                </div>
                <div>
                    <label for="numeroDc" class="block text-sm font-medium text-gray-700">Número de Documento</label>
                    <input
                            type="text"
                            name="numeroDc"
                            id="numeroDc"
                            placeholder="Número de Documento"
                            class="mt-1 block w-full px-4 py-2 border border-gray-300 bg-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
                    />
                    <p id="numeroDcError" class="text-red-500 text-xs mt-1"></p>
                </div>
                <div class="flex items-center">
                    <input id="recordar" class="h-4 w-4 text-green-500 border-gray-300 rounded focus:ring-green-500" type="checkbox"/>
                    <label for="recordar" class="ml-2 block text-sm text-gray-700">Términos y Condiciones</label>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <button
                            type="submit"
                            class="w-full px-4 py-2 text-white bg-green-500 rounded-md hover:bg-green-600 focus:outline-none focus:ring-green-500 focus:ring-1 sm:w-44"
                    >
                        Registrarse
                    </button>
                    <u>
                        <a href="inicioPrueba" class="mt-4 text-sm text-green-600 hover:text-green-700">Iniciar Sesión</a>
                    </u>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const formu = document.getElementById('formu');
      const nombre = document.getElementById('registroNombre');
      const correoRegistro = document.getElementById('CorreoRegistro');
      const contrasenaRegistro = document.getElementById('contrasenaRegistro');
      const confirmarContrasena = document.getElementById('confirmarContrasena');
      const numeroDc = document.getElementById('numeroDc');

      
      const nombreError = document.getElementById('nombreError');
      const correoError = document.getElementById('correoError');
      const contrasenaError = document.getElementById('contrasenaError');
      const confirmarContrasenaError = document.getElementById('confirmarContrasenaError');
      const numeroDcError = document.getElementById('numeroDcError');
      const togglePasswordRegistro = document.getElementById('togglePasswordRegistro');
      const togglePasswordConfirmacion = document.getElementById('togglePasswordConfirmacion');
  
      function validateForm(event) {
        event.preventDefault(); // Evita que el formulario se envíe automáticamente
        let valid = true;
        resetErrors();
  
        // Validación del nombre
        if (!nombre.value.trim() ||!/^[A-Za-z\s]+$/.test(nombre.value.trim())) {
          valid = false;
          nombreError.textContent = 'Ingrese un nombre válido.';
        }
  
        // Validación del correo electrónico
        if (!correoRegistro.value.trim()) {
          valid = false;
          correoError.textContent = 'El correo electrónico es requerido.';
        } else if (!/\S+@\S+\.\S+/.test(correoRegistro.value.trim())) {
          valid = false;
          correoError.textContent = 'El correo electrónico debe tener formato válido.';
        }
  
        // Validación de la contraseña
        if (!contrasenaRegistro.value || contrasenaRegistro.value.length < 8) {
          valid = false;
          contrasenaError.textContent = 'La contraseña debe tener al menos 8 caracteres.';
        } else if (!/[A-Z]/.test(contrasenaRegistro.value)) {
          valid = false;
          contrasenaError.textContent = 'La contraseña debe contener al menos una letra mayúscula.';
        }
  
        // Validación de la confirmación de contraseña
        if (contrasenaRegistro.value!== confirmarContrasena.value) {
          valid = false;
          confirmarContrasenaError.textContent = 'Las contraseñas no coinciden.';
        }
  
        // Validación del número de documento
        if (!numeroDc.value.trim() || isNaN(parseInt(numeroDc.value.trim())) || numeroDc.value.trim().length!== 10) {
          valid = false;
          numeroDcError.textContent = 'Ingrese un número de documento válido de 10 dígitos.';
        }
  
        if (valid) {
          window.location.href = '/inicio';
        }
      }
  
      function resetErrors() {
        nombreError.textContent = '';
        correoError.textContent = '';
        contrasenaError.textContent = '';
        confirmarContrasenaError.textContent = '';
        numeroDcError.textContent = '';
      }
  
      formu.addEventListener('submit', validateForm);
  
      if (togglePasswordRegistro) {
        togglePasswordRegistro.addEventListener('click', function () {
          const type = contrasenaRegistro.getAttribute('type') === 'password'? 'text' : 'password';
          contrasenaRegistro.setAttribute('type', type);
          this.classList.toggle('bx-show');
          this.classList.toggle('bx-hide');
        });
      }
  
      if (togglePasswordConfirmacion) {
        togglePasswordConfirmacion.addEventListener('click', function () {
          const type = confirmarContrasena.getAttribute('type') === 'password'? 'text' : 'password';
          confirmarContrasena.setAttribute('type', type);
          this.classList.toggle('bx-show');
          this.classList.toggle('bx-hide');
        });
      }
  
      window.addEventListener('pageshow', function (event) {
        if (event.persisted && formu) {
          formu.reset();
        }
      });
    });
  </script>
</body>
</html>
