---
---

<!doctype html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sobre Nosotros </title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <section class="bg-green-500">
    <div class="container mx-auto flex items-center justify-between py-4 px-6">
      <div class="flex flex-row">
        <img src="../../public/img/LROD.png" class="h-33 w-16" />
      </div>

      <nav>
        <ul class="flex space-x-6 text-white">
          <li><a href="home" class="hover:text-gray-300">Home</a></li>
          <li><a href="control_registro" class="hover:text-gray-300">Control</a></li>
          <li><a href="xomo" class="hover:text-gray-300">Consolidado</a></li>
          <li><a href="#" class="hover:text-gray-300"></a></li>
        </ul>
      </nav>
    </div>
  </section>
<section class="bg-gray-100 py-12">
    <div class="container mx-auto px-4">
      <div class="text-center mb-8">
        <h2 class="text-4xl font-bold text-gray-800">Sobre Nosotros</h2>
        <p class="text-gray-600 mt-2">
          En <span class="font-semibold">Libro De Operaciones Diarias (LROD)</span>, nos dedicamos a ayudar a las empresas a gestionar y mantener un registro detallado de todas sus transacciones financieras. Con un enfoque en la simplicidad y eficiencia, nuestra herramienta está diseñada para ser accesible tanto para emprendedores como para profesionales experimentados en contabilidad.
        </p>
      </div>
  
      <div class="grid md:grid-cols-2 gap-8">
        <div class="bg-white rounded-lg shadow-lg p-6">
          <img src="../../public/img/LROD.png" alt="" class="w-full h-48 object-contain ">
          <h3 class="text-2xl font-bold text-gray-800 mb-2 text-center">Nuestra Misión</h3>
          <p class="text-gray-600">
            Nuestra misión es proporcionar una solución intuitiva y eficiente para que las empresas puedan llevar un control preciso de sus operaciones diarias, facilitando la toma de decisiones informadas.
          </p>
        </div>

        <div class="bg-white rounded-lg shadow-lg p-6">
            <img src="../../public/img/vision.png" alt="" class="w-full h-48 object-contain">
            <h3 class="text-2xl font-bold text-gray-800 mb-2 text-center">Nuestra Visión</h3>
            <p class="text-gray-600">
              Aspiramos a ser la herramienta preferida para la gestión de operaciones diarias, reconocida por su simplicidad, eficiencia y capacidad para adaptarse a las necesidades de cualquier negocio, grande o pequeño.
            </p>
          </div>

      </div>
    </div>
  </section>
  <footer class="bg-green-500 text-white py-16">
    <div class="container mx-auto px-5">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="font-bold text-xl">LROD</h2>
          <p class="text-sm mt-2">
            © 2024 Libro De Operaciones Diarias. Todos los derechos reservados.
          </p>
        </div>
        <div class="flex space-x-4">
          <a href="#" class="hover:text-gray-300">About Us</a>
          <a href="#" class="hover:text-gray-300">Terms of Service</a>
          <a href="#" class="hover:text-gray-300">Privacy Policy</a>
          <a href="#" class="hover:text-gray-300">Contact</a>
        </div>
      </div>
      <div class="flex justify-center mt-4 space-x-4">
        <a href="#" class="text-white hover:text-gray-300"
          ><i class="fab fa-facebook-f"></i></a
        >
        <a href="#" class="text-white hover:text-gray-300"
          ><i class="fab fa-twitter"></i></a
        >
        <a href="#" class="text-white hover:text-gray-300"
          ><i class="fab fa-instagram"></i></a
        >
      </div>
    </div>
  </footer>
  