---
import BusinessTable from '../../components/BusinessTable.astro';
import Menu from '../../components/menu.astro';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>¿Cómo va mi negocio?</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
</head>


 </body>  

    <BusinessTable />
      <Menu/>
</html>
